 * {
            margin: 0px;
            padding: 0px;
            font-family: teuton;
            
        }
        
        @font-face {
            font-family: teuton;
            src: url(../TeutonNormal.otf);
        }
        
        header {
            width: 1920px;
            height: 150px;
        }
        
        .logo {
            width: 134px;
            height: 95px;
            float: left;
            margin-left: 60px;
        }
        
        .headline {
            height: 75px;
            float: left;
            margin-top: 25px;
            margin-left: 10px;
            font-size: 36px;
            padding-top: 20px;
            line-height: 35px;
           
        }
        
        .headline2 {
            font-size: 25px;
            color: #646464;
        }
        
        .headline3 {
            float: right;
            margin-top: 30px;
            margin-right: 50px;
            font-size: 65px;
        }
        
        .contentx {
            width: 1920px;
            height: 480px;
            background-image: url(../img/bg.png);
        }
        
        h1 {
            font-size: 120px;
            padding-top: 20px;
            padding-left: 60px;
            display: block;
            color: white!important;
            font-weight: 100;
        }
        
        h2 {
            font-size: 90px;
            padding-left: 40px;
            color: white;
            font-weight: 100;
            padding-bottom: 20px;
            color: white!important;
        }
        
        .author {
            font-size: 45px;
            padding-top: 35px;
            padding-left: 60px;
            float: left;
            color: white;
            font-weight: 100;
        }
        
        .priority {
            font-size: 45px;
            padding-top: 35px;
            padding-left: 60px;
            float: left;
            color: white!important;
            text-decoration: none;
            font-weight: 100;
        }

        .priority a
        {
            color: white!important;
            text-decoration: none;
            pointer-events: none;
            cursor: default;
        }

        
        .date {
            font-size: 45px;
            padding-top: 35px;
            padding-left: 60px;
            float: left;
            color: white;
            font-weight: 100;
        }
        
        .time {
            font-size: 40px;
            float: left;
            padding-top: 35px;
            padding-left: 60px;
            color: white;
            font-weight: 100;
        }
        
        .time::before {
            content: url(../img/t.png);
            float: left;
            padding-right: 30px;
            margin-top: -10px
        }
        
        .author::before {
            content: url(../img/user.png);
            float: left;
            padding-right: 30px;
            margin-top: -10px
        }
        
        .date::before {
            content: url(../img/date.png);
            float: left;
            padding-right: 30px;
            margin-top: -10px
        }
        
        .priority::before {
            content: url(../img/pri.png);
            float: left;
            padding-right: 30px;
            margin-top: -10px
        }
        
        .carousel-indicators li {
            border: 2px solid #949494;
            width: 30px !important;
            height: 30px !important;
            border-radius: 20px;
            margin-right: 20px;
        }
        
        .carousel-indicators li.active {
            background-color: #949494;
            margin-right: 20px;
            margin-top: 5px;
        }
        
        article {
            font-size: 45px;
            padding-top: 165px;
            padding-left: 60px;
            padding-right: 60px;
            line-height: 80px;
            padding-bottom: 90px;
            letter-spacing: 3px;
            text-align: justify;
            height: 573px;
        }
        
        .logo_svg {
            height: 250px;
            width: 250px;
            margin-top: -50px;
        }
        
        .transition-timer-carousel-progress-bar {
            height: 7px;
            background-color: white;
            width: 0%;
            border: none;
            z-index: 11;
        }
        
        .no {
            display: none;
        }